<script lang="ts">
	import '../app.css';
</script>

<main>
	<slot />
</main>

<footer>
	<p>Made with ❤️ by <a href="https://github.com/Clazex">Clazex</a></p>
	<p>
		由
		<a href="https://kit.svelte.dev">
			<img src="https://svelte.dev/svelte-logo.svg" alt="SvelteKit" />
		</a>
		<a href="https://vitejs.dev">
			<img src="https://vitejs.dev/logo.svg" alt="Vite" />
		</a>
		<a href="https://vercel.com">
			<img src="vercel-logo.svg" alt="Vercel" />
		</a>
		强力驱动
	</p>
</footer>

<style>
	main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 40px;
	}

	footer a {
		font-weight: bold;
	}

	@media (min-width: 480px) {
		footer {
			padding: 40px 0;
		}
	}

	footer img {
		width: 1.4em;
		height: 1.4em;
		vertical-align: bottom;
		object-fit: contain;
	}
</style>
