<script context="module" lang="ts">
	import { writable } from 'svelte/store';
	import analyze from '$lib/analyze';

	const prompts = writable([] as string[]);

	function handleDragUpload(e: DragEvent) {
		const file = e.dataTransfer?.files?.item(0);
		if (file != null) {
			handleFile(file);
		}
	}

	function handleSelectUpload(e: Event) {
		const file = (e.target as HTMLInputElement).files?.item(0);
		if (file != null) {
			handleFile(file);
		}
	}

	function handleFile(file: File) {
		if (!file.name.endsWith('.txt')) {
			console.warn('Extension name mismatch!');
			return;
		}

		file.text().then((text) => {
			console.log('Uploaded!');
			prompts.set(analyze(text));
		});
	}
</script>

<svelte:head>
	<title>ModLog 分析器</title>
</svelte:head>

<section>
	<h1>ModLog 分析器</h1>

	<label
		class="upload-file"
		on:dragenter|stopPropagation|preventDefault
		on:dragover|stopPropagation|preventDefault
		on:drop|stopPropagation|preventDefault={handleDragUpload}
	>
		<input
			id="input"
			class="visually-hidden"
			type="file"
			accept=".txt"
			on:change|stopPropagation|preventDefault={handleSelectUpload}
		/>
		<div>将你的 ModLog 文件拖拽到此处，或者点此上传</div>
	</label>
</section>

<section>
	<ul>
		{#each $prompts as prompt}
			<li>{@html prompt}</li>
		{/each}
	</ul>
</section>

<style>
	@import url('$lib/prompts.css');

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
	}

	.upload-file {
		color: #57606a;
		cursor: pointer;

		text-align: center;
		font-size: 1em;

		background-color: #f6f8fa;
		border: 1px solid #d0d7de;
		border-style: dashed;
		border-radius: 1em;

		padding: 2em 5em;
	}
</style>
